<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <bean id="company" class="com.domain.Company">
        <property name="flights">
            <list value-type="com.domain.Flight">
                <ref bean="flight1"/>
                <ref bean="flight2"/>
            </list>
        </property>
    </bean>
    
    <bean id="flight1" class="com.domain.Flight">
        <property name="plane" ref="boeing" />
        <property name="distance" value="1000" />
        <property name="staff">
            <list value-type="com.domain.Staff">
                <ref bean="staff1"/>
                <ref bean="staff2"/>
            </list>
        </property>
        <property name="tickets">
            <map value-type="com.domain.Ticket">
                <entry key="July" value-ref="ticket1"/>
                <entry key="Bob" value-ref="ticket2"/>
            </map>
        </property>
    </bean>

    <bean id="flight2" class="com.domain.Flight">
        <property name="plane" ref="airbus" />
        <property name="distance" value="2000" />
        <property name="staff">
            <list value-type="com.domain.Staff">
                <ref bean="staff3"/>
                <ref bean="staff4"/>
            </list>
        </property>
        <property name="tickets">
            <map value-type="com.domain.Ticket">
                <entry key="Max" value-ref="ticket3"/>
                <entry key="Alice" value-ref="ticket4"/>
            </map>
        </property>
    </bean>

    <bean id="airplane" abstract="true" class="com.domain.Plane">
        <property name="fuelConsumption" value="1"/>
    </bean>

    <bean id="airbus" class="com.domain.Airbus" parent="airplane">
        <property name="modelCode" value="A380"/>
        <property name="fuelConsumption" value="2" />
    </bean>

    <bean id="boeing" class="com.domain.Boeing" parent="airplane">
        <property name="modelName" value="DreamLiner"/>
    </bean>
    
    <bean id="staff1" class="com.domain.Staff">
        <property name="salary" value="25" />
    </bean>

    <bean id="staff2" class="com.domain.Staff">
        <property name="salary" value="30" />
    </bean>

    <bean id="staff3" class="com.domain.Staff">
        <property name="salary" value="23" />
    </bean>

    <bean id="staff4" class="com.domain.Staff">
        <property name="salary" value="31" />
    </bean>

    <bean id="ticket1" class="com.domain.Ticket">
        <property name="price" value="1500" />
    </bean>

    <bean id="ticket2" class="com.domain.Ticket">
        <property name="price" value="1500" />
    </bean>

    <bean id="ticket3" class="com.domain.Ticket">
        <property name="price" value="1500" />
    </bean>

    <bean id="ticket4" class="com.domain.Ticket">
        <property name="price" value="1500" />
    </bean>

</beans>